<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="MultiClassesReport.Multiplereports.HomePage"/>
      <class name="MultiClassesReport.Multiplereports.OpenCategory"/>
      <class name="MultiClassesReport.Multiplereports.Search"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
